<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>product</title>
</head>

<body>

    <body>
        <!-- Шапка -->
        <header>
            <div id="header_container">
                <div class="gorod">
                    <p id="gorod"><img src="./image/geo.svg" alt="/" />Оренбург</p>
                </div>
                <div class="sell">
                    <p>Продавайте на экспресс</p>
                </div>
                <div class="work">
                    <p>Работа в экспресс</p>
                </div>
            </div>
            <div class="header_container_down">
                <div class="logo">
                    <p>СУПЕР ЭКСПРЕСС</p>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><img src="./image/nav.svg" alt="/"></button>
                    <div class="dropdown-content">
                        <a id="navi" href="#">Женщинам</a>
                        <a id="navi" href="#">Обувь</a>
                        <a id="navi" href="#">Детям</a>
                        <a id="navi" href="#">Мужчинам</a>
                        <a id="navi" href="#">Красота</a>
                        <a id="navi" href="#">Аксессуары</a>
                        <a id="navi" href="#">Электроника</a>
                        <a id="navi" href="#">Игрушки</a>
                    </div>
                </div>
                <div class="form">

                    <form>
                        <p><input type="search  " placeholder="Найти на экспресс" id="search"></p>
                    </form>
                </div>
                <div class="trash">
                    <p id="trash.svg"><img id="trash.svg" src="./image/trash.svg" alt="/"></p>
                    <p id="trash">Корзина</p>
                </div>
            </div>
            </div>
        </header>

        <div class="products">
            <div class="all-product">
                <div class="small-photo">
                    <div class="small-photo2">
                        <img id="small-photo1" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2">
                        <img id="small-photo1" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2">
                        <img id="small-photo1" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2">
                        <img id="small-photo1" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2">
                        <img id="small-photo1" src="./image/small-photo.png" alt="/">
                    </div>

                </div>
                <div class="big-photo">
                    <p class="hit">Хит продаж</p>
                    <img id="big" src="./image/big-photo.png" alt="/">
                </div>
            </div>
            <div class="contetnt">
                <p id="brand">МИРЮЮ ></p>
                <div class="PROD">
                    <p id="name-product">Электрическая зубная щетка детская <br /> DENMARE DM-02USB/DM-02BT</p>
                </div>



                <div class="BLOCK1">
                    <p id="infoblock">Цвет: красный</p>
                </div>
                <div class="small-photos">
                    <div class="small-photo2s">
                        <img id="small-photo1s" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2s">
                        <img id="small-photo1s" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2s">
                        <img id="small-photo1s" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2s">
                        <img id="small-photo1s" src="./image/small-photo.png" alt="/">
                    </div>
                    <div class="small-photo2s">
                        <img id="small-photo1s" src="./image/small-photo.png" alt="/">
                    </div>

                </div>
                <div class="block">
                    <p id="nazvanie">Характеристики</p>
                    <div class="block__row">
                      <div class="block__text">Артикул</div>
                      <div class="block__line"></div>
                      <div class="block__text1">1342354345</div>
                    </div>
                    <div class="block__row">
                      <div class="block__text">Материал</div>
                      <div class="block__line"></div>
                      <div class="block__text1">Пластик</div>
                    </div>
                    <div class="block__row">
                      <div class="block__text">что нибудь ещё мне очень лень</div>
                      <div class="block__line"></div>
                      <div class="block__text1">я устал</div>
                    </div>
                    <div class="block__row">
                      <div class="block__text">Артикул</div>
                      <div class="block__line"></div>
                      <div class="block__text1">1342354345</div>
                    </div>
                  </div>
            </div>
            <!-- СЮДА ЕЩЁ НУЖНО ХАРАКТЕРИСТИКИ -->

            <!--                  -->
            <div class="aside-container">
                <div class="ozenka">
                </div>
                <div class="cennik">
                    <p id="pinkcennik">420 ₽</p>
                    <p id="blackcennik">434 ₽</p>
                    <p id="graycennik"><s>1000 ₽</s></p>
                </div>
                <div class="WBcard">
                    <p>С картой супер экспресс</p>
                </div>
                <div class="raiting">
                    <img id="zvezda" src="./image/zvezda.svg" alt="zvezda">
                    <p id="zifr">4.8</p>
                    <p id="otzv">3 353 отзывов</p>
                </div>
                <div class="raiting">
                    <p id="zifr">КУБИК-РУБИКА</p>
                    <img id="zvezda" src="./image/zvezda.svg" alt="zvezda">
                    <p id="zifr">4.8</p>
                </div>
                <div class="addtrash">
                    <p id="addtrash">Добавить в корзину</p>
                </div>
            </div>
        </div>
        </div>

    </body>

</html>